// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.titulo{
  border-bottom: 1px solid red;
  width: 25%;
  margin-left: 38%;
}
.listasinpunto{
  p { 
    font-size: 20px;
  }
  list-style: none;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.tarea{
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  width: 25%;
  margin-left: 38%;
  margin-top: 2%;
}
.benjseb{
  width: 200px;
  padding: 1px;;
}

